#formulaire {
 	width:300px;
 	
 	border-radius: 10px;
 	margin-top:50px;
 	padding:30px;
 	text-align: center;
 	margin-right: auto;
 	margin-left: auto;
 	background-color: #222222;
 	color:#FFF;

 }
.absent {
	padding: 10px;
	background-color: #EE3333;
	display: inline-block;
	cursor : pointer;
}
.present {
	padding: 10px;
	background-color: #33EE33;
	display: inline-block;
	cursor : pointer;
}
.bouton {
	border-radius: 5px;
	box-shadow: 1px 1px 5px #000;
	margin:10px;
}
